@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  color: #5A5A65;
}

@theme {
  --color-title-type: #2F691D;
  --color-delete: #DD5050;
  --color-delete-hover: #E01414;
  --color-line: #C7C7C7;
  --color-primary-orange: #E65F2B;
  --color-button-hover: #C94715;
  --color-menu-hover: #FFEFDA;
}
